//@import '../../main/variables.scss';

.cabecalho {
	background-color: #E15A00;

	/* Safari */
	position: -webkit-sticky;

	/*usado para se sobrepor aos demais componentes*/
	position: sticky;
	top: 0;
	z-index: 100;
}

.icon-menu {
	color: blue;
}

.partlogo{
	background-color: white;
    padding-left: 200px;
    padding-top: 58px;
	position: absolute;
	border-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	-webkit-border-top-right-radius: 1000px;
	-webkit-border-bottom-right-radius: 1000px;
	-moz-border-radius-topright: 1000px;
	-moz-border-radius-bottomright: 1000px;
	border-top-right-radius: 1000px;
	border-bottom-right-radius: 1000px;

}
