

/* =========== Centraliza o texto =========== */

.banner {
	position: relative;
}

.text-banner {
	background-color: black;

	position: absolute;
	left: 0;
	width: 100%;
	top: 50%;
	text-align: center;
}

/* =========== Centraliza o texto =========== */

.text-banner h1,
.text-banner h4 {
	color:black;
}

.background-banner-static {
	height: calc(100vh - 61px);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


